/* Add this CSS at the end of your existing CSS or in a separate CSS file */


label.required::before {
    content: " *";
    color: red;
}

.add-customer-modal, .edit-customer-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content{ 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    overflow-y: hidden; /* Add this line to hide the scroll wheel */
    max-height: 100vh;
    scrollbar-color: #ddd rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}


.add-customer-modal-title{
text-align: center;
font-size:20px;
margin-bottom: 10px;

}

.add-customer-modal-content, .edit-customer-modal-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    overflow-y: hidden; /* Add this line to hide the scroll wheel */
    max-height: 100vh;
    scrollbar-color: #ddd rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}



.dark .add-customer-modal-content, .dark .edit-customer-modal-content {
    background-color: #333;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border: 1px solid #444343;
}

.add-customer-modal-content::-webkit-scrollbar, .edit-customer-modal-content::-webkit-scrollbar {
    width: 5px;
}

.add-customer-modal-content::-webkit-scrollbar-thumb, .edit-customer-modal-content::-webkit-scrollbar-thumb {
    background-color: #8b8a8a;
    border-radius: 10px;
}

.add-customer-modal-content::-webkit-scrollbar-track, .edit-customer-modal-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.add-customer-modal-content h2, .edit-customer-modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #333;
}

.dark .add-customer-modal-content h2, .dark .edit-customer-modal-content h2 {
    color: white;
}


.add-customer-modal-content h6, .edit-customer-modal-content h6 {
    
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
}

.dark .add-customer-modal-content h6, .dark .edit-customer-modal-content h6 {
    color: white;
}


.add-customer-modal-content h7, .edit-customer-modal-content h7 {
    
    margin-bottom: 4px;
    margin-left:-6px;
    font-weight: 500;
    font-size: 18px;
    color: #333;
}

.dark .add-customer-modal-content h7, .dark .edit-customer-modal-content h7 {
    color: white;
}


.add-customer-modal-content h5, .edit-customer-modal-content h5 {
    
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 10px;
    color: #333;
}
.add-customer-modal-content input[required]::after, 
.add-customer-modal-content select[required]::after {
  content: "*";
  color: red;
}



.dark .add-customer-modal-content h5, .dark .edit-customer-modal-content h5 {
    color: white;
}

.add-customer-modal-content label, .edit-customer-modal-content label {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    color: #333;
}

.dark .add-customer-modal-content label, .dark .edit-customer-modal-content label {
    color: white;
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    
}

.form-row-container {
    display: flex;
    
    flex-direction: column;
    flex: 1;
    margin-right: 7px; /* Adjust spacing between pairs */
}

.form-row label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
    width: 150px; /* Set a fixed width for the labels */
}
.form-row-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 2px;

}

.form-row input[type="text"],
.form-row select {
    flex: 1; /* Allow inputs to expand and fill available space */
    padding: 8px;
    font-size: 13px;
    margin-bottom: 14px;
}

.dark .form-row label {
    color: white;
}

/* Remove the width property from the following rule to avoid conflicts: */
.add-customer-modal-content input,
.edit-customer-modal-content input,
.add-customer-modal-content select,
.edit-customer-modal-content select {
  padding: 8px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px;
}

.dark .add-customer-modal-content select, .dark .add-customer-modal-content input, .dark .edit-customer-modal-content select, .dark .edit-customer-modal-content input {
    background-color: #333;
    color: #fff;
    border-color: var(--border);
    outline: none;
}

.modal-button-container {
    text-align: center;
    margin-top: 10px;
}

.modal-save-button,
.modal-close-button {
    width: 40%;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.modal-save-button {
    background-color: #3498db;
    color: white;
}

.modal-close-button {
    background-color: #e74c3c;
    color: white;
}

.modal-save-button:hover,
.modal-close-button:hover {
    cursor: pointer;
    opacity: 80%;
}

.add-customer-modal-content.has-image .image-preview,
.edit-customer-modal-content.has-image .image-preview-edit {
    display: block;
}

/* Add any additional styling for the customers modal if needed */

/* Media query for responsiveness */
@media screen and (max-width: 767px) {
    .add-customer-modal-content, .edit-customer-modal-content {
        max-width: 75%;
    }
}

.success-modal, .error-modal, .confirmation-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.success-modal-content, .error-modal-content, .confirmation-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2);
    max-width: 400px;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.message-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.success-modal-content .divider, .error-modal-content .divider, .confirmation-modal-content .divider{
    margin: 15px 0;
    border-bottom: 1px solid #ddd;
}

.success-modal-content #successText .error-modal-content #errorText, .confirmation-modal-content #confirmText {
    margin-bottom: 15px;
    font-size: 14px;
}

.success-modal-content .modal-close-button {
    padding: 8px 15px;
    background-color: #3498db;
    margin-top: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error-modal-content .modal-close-button {
    padding: 8px 15px;
    background-color: #e74c3c;
    margin-top: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirmation-modal-content .confirmation-modal-button {
    padding: 8px 15px;
    background-color: #3498db;
    margin-top: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirmation-modal-content .unconfirmation-modal-button {
    padding: 8px 15px;
    background-color: #e74c3c;
    margin-top: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.success-modal-content .modal-close-button:hover{
    background-color: #2980b9;
}

.error-modal-content .modal-close-button:hover {
    background-color: #c0392b;
}


/* Dark mode styles for the success modal */
body.dark .success-modal-content, body.dark .error-modal-content {
    background-color: #333; /* Background color in dark mode */
    color: white; /* Text color in dark mode */
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2); /* Adjust box shadow for dark mode */
    border: 1px solid #444343; /* Border color in dark mode */
}

body.dark .success-modal-content .header, body.dark .error-modal-content .header {
    color: white; /* Header text color in dark mode */
}

body.dark .success-modal-content .divider, body.dark .error-modal-content .header {
    border-color: #555; /* Divider line color in dark mode */
}

body.dark .success-modal-content #successText, body.dark .error-modal-content #errorText {
    color: white; /* Success message text color in dark mode */
}

body.dark .success-modal-content .modal-close-button, body.dark .error-modal-content .modal-close-button {
    background-color: #3498db; /* Close button background color in dark mode */
    color: white; /* Close button text color in dark mode */
    border: 1px solid #3498db; /* Close button border color in dark mode */
}

body.dark .success-modal-content .modal-close-button:hover, body.dark .error-modal-content .modal-close-button:hover {
    background-color: #2980b9; /* Close button hover background color in dark mode */
}
