@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --red: #b70202;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #3daf43;
    --light-success: #BBF7D0;
    --hover: #e0dddd;
    --dark-hover: #232428;
    --ai-message: #445264;
    --dark-chat: #2c2f33;
    --secodary-dark-char: #363949;
    --border: #555;
    --white: #fff;
}

.add-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Set a higher z-index value for modals */
}

.edit-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Set a higher z-index value for modals */
}

.modal-content{ 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    overflow-y: hidden; /* Add this line to hide the scroll wheel */
    max-height: 100vh;
    scrollbar-color: #ddd rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}


.modal-content .header {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark);
    text-align: center;
   
}

/* Divider line style */
.modal-content .divider {
    border-top: 1px solid var(--dark-grey);
    margin-bottom: 15px;
}

/* Header style */
.add-product-modal-content .header {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark);
    text-align: center;
    margin-bottom: 10px;
}

/* Divider line style */
.add-product-modal-content .divider {
    border-top: 1px solid var(--dark-grey);
    margin-bottom: 15px;
}


.modal-content,
.add-product-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2); /* Adjust box shadow for dark mode */
    max-width: 500px;
    width: 100%;
    overflow-y: auto; /* Add overflow-y property to enable scroll when content exceeds height */
    max-height: 80vh; /* Set a maximum height to ensure modal fits within the viewport */
    scrollbar-color: #ddd rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

.modal-content::-webkit-scrollbar,
.add-product-modal-content::-webkit-scrollbar {
    width: 5px;
}

.modal-content::-webkit-scrollbar-thumb,
.add-product-modal-content::-webkit-scrollbar-thumb {
    background-color: #8b8a8a;
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-track,
.add-product-modal-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.modal-content label,
.add-product-modal-content label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.modal-content input, .modal-content select, .add-product-modal-content select,
.add-product-modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 4px;
}

.dark .modal-content input, .dark .modal-content select, .dark .add-product-modal-content select,
.dark .add-product-modal-content input {
    background-color: #333; /* Background color in dark mode */
    color: #fff; /* Text color in dark mode */
    border-color: var(--border); /* Border color in dark mode */
    outline: none;
}

.modal-content textarea,
.add-product-modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 4px;
    resize: none; /* Allow vertical resizing of textarea */
}

.dark .modal-content textarea,
.dark .add-product-modal-content textarea {
    background-color: #333; /* Background color in dark mode */
    color: #fff; /* Text color in dark mode */
    border-color: var(--border); /* Border color in dark mode */
    outline: none;
}


.modal-button-container,
.add-product-modal-content .modal-button-container {
    text-align: center;
    margin-top: 10px;
}

.modal-save-button,
.add-product-modal-content .modal-save-button {
    width: 40%;
    padding: 8px 15px;
    background-color: var(--primary);
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.modal-close-button,
.add-product-modal-content .modal-close-button {
    width: 40%;
    padding: 8px 15px;
    background-color: #c0392b;
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.modal-save-button:hover,
.add-product-modal-content .modal-save-button:hover {
    cursor: pointer;
    opacity: 80%;
}

.modal-close-button:hover,
.add-product-modal-content .modal-close-button:hover {
    cursor: pointer;
    opacity: 80%;
}

.image-placeholder-edit {
    text-align: center;
    margin-bottom: 15px;
}

.image-preview-edit {
    max-width: 100%;
    max-height: 200px; /* Set the desired max height for the image */
    margin: 10px auto; /* Center horizontally with auto margins */
    border: 1px solid #ddd;
    border-radius: 4px;
}

.image-placeholder-edit label {
    display: inline-block;
    padding: 8px 15px;
    background-color: var(--primary);
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.image-placeholder-edit label:hover {
    cursor: pointer;
    opacity: 80%;
}

/* Add this style to show the image preview when it's not hidden */
.image-placeholder-edit.has-image .image-preview-edit {
    display: block;
}

.image-placeholder {
    text-align: center;
    margin-bottom: 15px;
}

.image-preview {
    max-width: 100%;
    max-height: 200px; /* Set the desired max height for the image */
    margin: 10px auto; /* Center horizontally with auto margins */
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
}

.image-placeholder label {
    display: inline-block;
    padding: 8px 15px;
    background-color: var(--primary);
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.image-placeholder label:hover {
    cursor: pointer;
    opacity: 80%;
}

/* Add this style to show the image preview when it's not hidden */
.image-placeholder.has-image .image-preview {
    display: block;
}

/* Dark mode styles for both modals */
body.dark .modal-content,
body.dark .add-product-modal-content {
    background-color: #333;
    color: white;
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2); /* Adjust box shadow for dark mode */
    border: 1px solid #444343;
}

body.dark .modal-content label,
body.dark .add-product-modal-content label {
    color: white;
}

body.dark .modal-content input,
body.dark .add-product-modal-content {
    color: white;
    background-color: #444343;
    border: 1px solid #444343;
}

body.dark .modal-save-button,
body.dark .add-product-modal-content .modal-save-button {
    background-color: #3498db;
    color: white;
}

body.dark .modal-close-button,
body.dark .add-product-modal-content .modal-close-button {
    background-color: #e74c3c;
    color: white;
    border: 1px solid #e74c3c;
}

body.dark .modal-save-button:hover,
body.dark .add-product-modal-content .modal-save-button:hover {
    background-color: #2980b9;
}

body.dark .modal-close-button:hover,
body.dark .add-product-modal-content .modal-close-button:hover {
    background-color: #c0392b;
}

/* Media query for smaller screens */
@media only screen and (max-width: 500px) {
    .modal-content,
    .add-product-modal-content {
        max-width: 75%;
    }
}

.success-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Set a higher z-index value for modals */
}

.success-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
}

.success-modal-content .header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.success-modal-content .divider {
    margin: 15px 0;
    border-bottom: 1px solid #ddd;
}

.success-modal-content #successText {
    margin-bottom: 15px;
    font-size: 14px;
}

.success-modal-content .modal-close-button {
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.success-modal-content .modal-close-button:hover {
    background-color: #2980b9;
}

/* Dark mode styles for the success modal */
body.dark .success-modal-content {
    background-color: #333; /* Background color in dark mode */
    color: white; /* Text color in dark mode */
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2); /* Adjust box shadow for dark mode */
    border: 1px solid #444343; /* Border color in dark mode */
}

body.dark .success-modal-content .header {
    color: white; /* Header text color in dark mode */
}

body.dark .success-modal-content .divider {
    border-color: #555; /* Divider line color in dark mode */
}

body.dark .success-modal-content #successText {
    color: white; /* Success message text color in dark mode */
}

body.dark .success-modal-content .modal-close-button {
    background-color: #3498db; /* Close button background color in dark mode */
    color: white; /* Close button text color in dark mode */
    border: 1px solid #3498db; /* Close button border color in dark mode */
}

body.dark .success-modal-content .modal-close-button:hover {
    background-color: #2980b9; /* Close button hover background color in dark mode */
}


/* Confirmation Modal */
.confirmation-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.confirmation-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.confirmation-modal-content .header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.confirmation-modal-content .divider {
    margin: 15px 0;
    border-bottom: 1px solid var(--dark-grey);
}

.confirmation-modal-content p {
    margin-bottom: 15px;
    font-size: 14px;
}

/* Dark Mode for Confirmation Modal */
body.dark .confirmation-modal-content {
    background-color: #333; /* Background color in dark mode */
    color: white; /* Text color in dark mode */
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2); /* Adjust box shadow for dark mode */
    border: 1px solid #444343; /* Border color in dark mode */
}

body.dark .confirmation-modal-content .header {
    color: white; /* Header text color in dark mode */
}

body.dark .confirmation-modal-content .divider {
    border-color: #555; /* Divider line color in dark mode */
}

body.dark .confirmation-modal-content p {
    color: white; /* Paragraph text color in dark mode */
}

body.dark .confirmation-modal-content .modal-save-button {
    background-color: var(--primary); /* Save button background color in dark mode */
    color: white; /* Save button text color in dark mode */
}

body.dark .confirmation-modal-content .modal-close-button {
    background-color: var(--red); /* Close button background color in dark mode */
    color: white; /* Close button text color in dark mode */
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    
}

.form-row-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 7px; /* Adjust spacing between pairs */
}

.form-row label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
    width: 150px; /* Set a fixed width for the labels */
}

.form-row input[type="text"],
.form-row select {
    flex: 1; /* Allow inputs to expand and fill available space */
    padding: 8px;
    font-size: 13px;
    
}

.dark .form-row label {
    color: white;
}


.add-customer-modal-title{
    text-align: center;
    font-size:20px;
    margin-bottom: 10px;
    font-weight: 500;
    
}

