:root {
  --light: #f6f6f9;
  --primary: #1976D2;
  --red: #b70202;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
--light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #3daf43;
  --light-success: #BBF7D0;
  --hover: #e0dddd;
  --dark-hover: #232428;
  --ai-message: #445264;
  --dark-chat: #2c2f33;
  --secodary-dark-char: #363949;
  --border: #555;
  --white: #fff;
}

.product-card.out-of-stock {
cursor: not-allowed;
opacity: 0.7; /* You can adjust the opacity or add other styling for out-of-stock products */
}



.pos-layout {
  display: flex;
  flex-direction: column;
  background-color: var(--grey); /* Replace with your desired color */
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  padding-top: 16px; /* Top padding */
  padding-bottom: 16px; /* Bottom padding */
}

.con{
  display: flex;
  padding: 0 8px; /* Adjust padding as needed */
  flex-direction: row; /* Assuming you want a row direction */
  position: relative;
}

.arrow-icon {
  height: 1.5rem; /* Adjust height as needed */
  width: 1.5rem; /* Adjust width as needed */
  stroke: currentColor;
  stroke-width: 2;
  fill:none;
}

.add-customer-btn{
display: flex;
padding: 12px 20px;
background-color: #2ecc71; /* Green color, you can change it */
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
margin-left: 12px;


}

.category-dropdown1 {
      width: 100%; /* Make inputs full-width on small screens */
      
  }

.category-dropdown1{
  padding: 12px;
  width: 200px; /* Set a fixed width for both category and brand dropdowns */
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  
}

body.dark .category-dropdown1{
  background-color: #333; /* Background color in dark mode */
  color: #fff; /* Text color in dark mode */
  border-color: var(--border); /* Border color in dark mode */
  outline: none;
  
}

.category-dropdown1:hover{
  border-color: #272727; /* Highlight border on hover */
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.2); /* Add a subtle shadow on hover */
  
}






.category-dropdown2{
padding: 10px;

border: 1px solid #ddd;
margin-right: 14px;
border-radius: 8px;
background-color: #fff;
font-size: 12px;
color: #333;
transition: border-color 0.3s, box-shadow 0.3s;
cursor: pointer;

}

body.dark .category-dropdown2{
background-color: #333; /* Background color in dark mode */
color: #fff; /* Text color in dark mode */
border-color: var(--border); /* Border color in dark mode */
outline: none;

}

.category-dropdown2:hover{
border-color: #272727; /* Highlight border on hover */
box-shadow: 0 0 10px rgba(52, 152, 219, 0.2); /* Add a subtle shadow on hover */

}


.category-dropdown3{
padding: 10px;

border: 1px solid #ddd;
margin-right: 14px;
border-radius: 8px;
background-color: #fff;
font-size: 12px;
color: #333;
transition: border-color 0.3s, box-shadow 0.3s;
cursor: pointer;

}

body.dark .category-dropdown3{
background-color: #333; /* Background color in dark mode */
color: #fff; /* Text color in dark mode */
border-color: var(--border); /* Border color in dark mode */
outline: none;

}

.category-dropdown3:hover{
  border-color: #272727; /* Highlight border on hover */
box-shadow: 0 0 10px rgba(52, 152, 219, 0.2); /* Add a subtle shadow on hover */

}


.left-section {
display: flex;
align-items: center; /* Align items vertically */
}

.right-section {
display: flex;
align-items: center; /* Align items vertically */
}
.order-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}



.order-no, .date-today, .category-plc {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.order-no {
  font-weight: 600;
  color: var(--dark);
  font-size: 17px;
  margin-left: 20px;
  margin-right: 10px; /* Adjusted margin-right for closer spacing */
}

.date-today {
  color: var(--dark);
  font-size: 17px;
  margin-right: 10px; /* Added margin-right to match order-no */
}

.category-plc {
  margin-left: 82px;
  display: flex;
  align-items: center;
  margin-right: 16px; /* Added margin-right to match order-no */
}

.category-dropdown1 {
  margin-left: 12px;
}
.category-plc1 {
  
  display: flex;
  align-items: center;
  
}

.text-php {
display: flex;
justify-content: flex-end;
text-align: right;


}
.brandpartSelect{
margin-top: 14px;
margin-left:8px;
margin-right: 10px;
width: 100px;
width: 100%;
display:flex;

}

.search-button {
  z-index: 1; /* Ensure the button appears above other elements */
  position: absolute;
  left: 16px;
  top: 12px;
  padding: 8px;
  border-radius: 50%;
  background-color: #1976d2; /* Replace with your desired color */
  color: var(--grey);
}

/* Custom class for the search bar container */
.search-bar1-container {
  position: relative;
}

/* Custom class for the search bar */
.search-bar1 {
  display:flex;
  color: var(--dark);
  background: var(--light);
  border-radius: 8px;
  font-size: 16px;
  padding: 12px 14px;
  width: 99.5%;
  height: 64px; /* Adjust height as needed */
  padding-left: 56px; /* Adjust padding for button position */
  border: none; /* Remove the border */
}

.search-bar2 {
  display:flex;
  color: var(--dark);
  background: var(--light);
  border-radius: 20px;
  font-size: 16px;
  padding: 12px 14px;
  width: 25%;
  height: 50px; /* Adjust height as needed */
  padding-left: 56px; /* Adjust padding for button position */
  border: none; /* Remove the border */
}
.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--light); /* Replace with your desired color */
  user-select: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  border-radius: 8px;
  color: var(--dark);
  padding-bottom: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.product-card:hover {

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.product-image {
display: flex;
justify-content: center;
align-items: center;
height:310px;
border-radius: 8px;
padding-top: 15px;
padding-right: 15px;
padding-left: 15px;
padding-bottom: 15px;
}

.product-image img {
max-width: 100%;
max-height: 100%;
}




.product-brand{

font-weight: 600;
font-size:12px;

}
.product-name{
font-weight: 600;
white-space: nowrap;
font-size:12px;
overflow: hidden;
text-overflow: ellipsis;
max-width: 200px; /* Set your desired max-width */
}

.product-price-quantity {
display: block; /* Display as block-level elements */
}


.product-price{
font-weight: 600;
}

.product-price,
.product-quantity {
font-size: 12px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100%; /* Adjust the max-width accordingly */
}

.product-card-pad {
display: flex; /* Equivalent to flex */

padding-bottom: 8px; /* Equivalent to pb-3 */
padding-left: 0.75rem; /* Equivalent to px-3 */
padding-right: 0.75rem; /* Equivalent to px-3 */
font-size: 0.875rem; /* Equivalent to text-sm */
margin-top: -0.1875rem; /* Equivalent to -mt-3 */

}





.product-container {
  height: 100%; /* Adjust height as needed */
  overflow: hidden;
  margin-top: 1rem; /* Adjust margin as needed */
  
}

.product-inner-container {
  height: 100%;
  overflow-y: auto;
  padding: 0 0.5rem; /* Adjust padding as needed */
}

.products {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background-color: var(--light); /* Replace with your desired background color */
  border-radius: 1.5rem; /* Adjust border radius as needed */
 
  
}

.products-product {
  display: grid; /* Equivalent to grid */
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* Equivalent to grid-cols-5 */
  gap: 8px; /* Equivalent to gap-4 */
  padding-bottom: 0.75rem; /* Equivalent to pb-3 */
  /* Add any additional styles for products-product here */
  
  
}

.db-info {
  width: 100%;
  text-align: center; /* Makes the element take up the full width of its container */
}


/* Additional styles */
.products.select-none {
  user-select: none; /* Prevent text selection */
}


.search-card {
  user-select: none; /* Equivalent to select-none */
  color: var(--dark);
  background-color: var(--light);  /* Equivalent to bg-blue-gray-100 */
  border-radius: 1.125rem; /* Equivalent to rounded-3xl */
  display: flex;
  flex-wrap: wrap; /* Equivalent to flex-wrap */
  align-content: center; /* Equivalent to content-center */
  justify-content: center; /* Equivalent to justify-center */
  height: 100%; /* Equivalent to h-full */
   /* Equivalent to opacity-25 */
}

.cart-empty {
  /* Tailwind CSS classes */
  display: flex;
  flex: 1;
  width: 100%;
  padding: 1rem;
  user-select: none;
  border-radius: 1.5rem; /* Equivalent to rounded-3xl */
  flex-direction: column;
  color: var(--dark);
  background-color: var(--light);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.checkout-card {
  width: 41.666667%; /* Equivalent to w-5/12 (5/12 = 41.666667%) */
  display: flex; /* Equivalent to flex */
  flex-direction: column; /* Equivalent to flex-col */
  height: 100%; /* Equivalent to h-full */
  background-color: var(--grey);
  padding-right: 1rem; /* Equivalent to pr-4 */
  padding-left: 0.5rem; /* Equivalent to pl-2 */
  padding-top: 1rem; /* Equivalent to py-4 */
  padding-bottom: 1rem; /* Equivalent to py-4 */
}

.checkout-inner-card {
  background-color: var(--light); /* Equivalent to bg-white */
  border-radius: 1.5rem; /* Equivalent to rounded-3xl */
  display: flex; /* Equivalent to flex */
  flex-direction: column; /* Equivalent to flex-col */
  height: 100%; /* Equivalent to h-full */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Equivalent to shadow */
  /* Add any additional styles for checkout-inner-card here */
}

.cart-icon {
  height: 1.5rem; /* Set the height to h-6 (1.5rem by default in Tailwind) */
  display: inline-block; /* Display as an inline block */
  
}

.cart-svg{
  display: flex;
  color: var(--dark);
  background-color: var(--light);

}

.cart-count {
  position: absolute; /* Position the element */
  text-align: center; /* Center text horizontally */
  background-color: var(--red); /* Background color set to bg-cyan-500 */
  color: #fff; /* Text color set to text-white */
  width: 1.25rem; /* Width set to w-5 (adjust according to your needs) */
  height: 1.25rem; /* Height set to h-5 (adjust according to your needs) */
  font-size: 0.75rem; /* Text size set to text-xs */
  padding: 0; /* Remove padding */
  line-height: 1.25rem; /* Adjust line height (leading-5) */
  border-radius: 9999px; /* Rounded shape */
  right: -0.5rem; /* Adjust the right position */
  top: 0.75rem; /* Adjust the top position */
}

.trash-svg {
  color: var(--dark); /* Text color set to text-blue-gray-300 */
}

.trash-svg:hover {
  color: var(--red); /* Hover color set to text-pink-500 */
}

.trash-svg:focus {
  outline: none; /* Remove outline on focus */
}




.cart-image {
  display: flex;
  user-select: none; /* Disable text selection */
  margin-bottom: 3px; /* Adjust the margin value as needed */
  color: var(--dark); 
  background-color: var(--grey); /* Background color set to bg-blue-gray-50 */
  border-radius: 8px; /* Rounded corners */
  width: 100%; /* Full width */
  padding-top: 8px; /* Adjust padding top */
  padding-bottom: 8px; /* Adjust padding bottom */
  padding-left: 8px; /* Adjust padding left */
  padding-right: 8px; /* Adjust padding right */
  display: flex;
  justify-content: center; /* Center content horizontally */
}

.qty-box {
  color: var(--dark); 
  background-color: var(--light); /* Background color set to white */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center text horizontally */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  outline: none; /* Remove outline */
  font-size: 0.875rem; /* Text size set to text-sm */

  font-weight: 600;
}

/* Focus styles */
.qty-box:focus {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); /* Focus shadow */
}

.add-minus {
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center text horizontally */
  padding-top: 0.25rem; /* Adjust top padding */
  padding-bottom: 0.25rem; /* Adjust bottom padding */
  color: #fff; /* Text color set to text-white */
  background-color: var(--red); /* Background color set to bg-blue-gray-600 */
}

.add-minus:hover {
  background-color: #4d4f53; /* Hover background color set to hover:bg-blue-gray-700 */
}

.add-minus:focus {
  outline: none; /* Remove outline on focus */
}





.cash-text {
  margin-bottom: 12px; 
  color: var(--dark); 
  background-color: var(--grey);
  padding-left: 12px; 
  padding-top: 8px; 
  padding-bottom: 12px; 
  padding-right: 12px; 
  border-radius: 8px; 

}

.cash-text > .flex > .flex-grow {
  font-size: 1.125rem; /* Equivalent to text-lg */
  font-weight: 600; /* Equivalent to font-semibold */
  text-align: left; /* Equivalent to text-left */
}

.cash-text > .flex > .flex-grow {
  flex-grow: 1; /* Equivalent to flex-grow */
  text-align: left; /* Equivalent to text-left */
}

.cash-text > .flex > .flex:last-child {
  margin-right: 0.5rem; /* Equivalent to mr-2 */
}



.cash-card {
  background-color: var(--light);
  border-radius: 0.25rem; /* Reduced border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
  transition: box-shadow 0.3s ease;
  display: inline-block;
  padding: 0.15rem 0.35rem; /* Reduced padding */
  font-size: 0.75rem; /* Decreased font size */
  width: 100%;

}


.cash-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cash-card:focus {
  outline: none;
}

.cash-inner-card {
  display:flex;
  width: 112px; /* Equivalent to w-28 */
  height: 40px;
  background-color: var(--light); /* Equivalent to bg-white */
  font-size:14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Equivalent to shadow */
  border-radius: 8px; /* Equivalent to rounded-lg */
  outline: none; /* Equivalent to focus:outline-none */
  padding-right: 10px; /* Adjust padding for content alignment */
  margin-left: 10px; /* Creates space from the left edge */
  transition: box-shadow 0.3s ease; /* Adding transition for hover effect */
  text-align: right;
}

.cash-inner-card:focus {
  background-color: var(--light); /* Equivalent to focus:bg-white */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Equivalent to focus:shadow-lg */
}

.cash-inner-card > .px-2 {
  padding-left: 8px; /* Equivalent to px-2 */
  padding-right: 8px; /* Equivalent to px-2 */
}

.money-grid {
  display: grid; /* Establishes the element as a grid container */
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* Creates 4 equal-width columns */
  gap: 0.5rem; /* Creates a gap of 0.5rem between grid items */
  margin-top: 0.5rem; /* Adds margin space of 0.5rem on top */
}


.add-money {
  display:flex;
  background-color: var(--light); /* Equivalent to bg-white */
  border-radius: 8px; /* Equivalent to rounded-lg */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Equivalent to shadow */
  outline: none; /* Equivalent to focus:outline-none */
  display: inline-block; /* Equivalent to inline-block */
  padding: 8px 4px; /* Equivalent to px-2 py-1 */
  font-size: 0.875rem; /* Equivalent to text-sm */
  transition: box-shadow 0.3s ease; /* Adding transition for hover effect */
}

.add-money:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Equivalent to hover:shadow-lg */
  font-weight: 600;
}


.yeschange {
  display: flex;
  justify-content: center;
  margin-bottom: 3px; /* Adjust the margin value as needed */
  font-size: 16px; /* Adjust as needed */
  font-weight: 600; /* Equivalent to font-semibold */
  color: #40d672; 
  background-color: var(--grey); /* Adjust the text color */
  border-radius: 8px; /* Rounded corners */
  padding-top: 12px; /* Adjust padding top */
  padding-bottom: 12px; /* Adjust padding bottom */
  padding-left: 12px; /* Adjust padding left */
  padding-right: 12px; /* Adjust padding right */
  margin-bottom:12px;
}

.nochange {
  display: flex;
  margin-bottom:11px; /* Adjust as needed */
  font-size: 16px; /* Adjust as needed */
  font-weight: 600;
  background-color: #fce4ec; /* Background color changed to pink-100 */
  border-radius: 8px; /* Rounded corners */
  padding-top: 12px; /* Adjust padding top */
  padding-bottom: 12px; /* Adjust padding bottom */
  padding-left: 12px; /* Adjust padding left */
  padding-right: 12px; /* Adjust padding right */
}

.summary-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 11px; /* Adjust as needed */
  font-size: 16px; /* Adjust as needed */
  font-weight: 600;
  color: var(--dark);
  background-color: var(--grey); /* Example text color */
  border-radius: 8px; /* Rounded corners */
  padding: 8px 12px 8px 12px; /* Adjust padding */
}

.total-text {
  display: flex;
  justify-content: space-between;
  color: var(--dark); /* Example text color */
  font-weight: 700;
  
}

.text-right {
  text-align: right;
  flex-grow: 1;
}


.change-card {
  display: flex;
  margin-bottom:11px; /* Adjust as needed */
  font-size: 16px; /* Adjust as needed */
  font-weight: 600;
  color: var(--dark); 
  background-color: var(--grey); /* Example text color */
  border-radius: 8px; /* Rounded corners */
  padding-top: 12px; /* Adjust padding top */
  padding-bottom: 12px; /* Adjust padding bottom */
  padding-left: 12px; /* Adjust padding left */
  padding-right: 12px; /* Adjust padding right */

}

.change-card1 {
  display: flex;
  font-size: 16px; /* Adjust as needed */
  font-weight: 600;
  color: var(--dark); 
  background-color: var(--grey); /* Example text color */
  border-radius: 8px; /* Rounded corners */
  padding-top: 12px; /* Adjust padding top */
  padding-bottom: 12px; /* Adjust padding bottom */
  padding-left: 12px; /* Adjust padding left */
  padding-right: 12px; /* Adjust padding right */

}

/* Styling for the Change Text */
.change-text {
  color: var(--dark); /* Example text color */
  font-weight: 700;
}

.change-text1 {
  color: var(--dark); /* Example text color */
  font-weight: 700;
  text-align: right;
  flex-grow: 1;
}

.submit{ 
  color: var(--light); 
  background-color: #40d672; 

}

.nosubmit{
  color: var(--light); 
  background-color: var(--red);
  

}

.proceed-btn {
  background-color: var(--red); /* Background color set to bg-cyan-500 */
  color: #fff; /* Text color set to text-white */
  font-size: 1.125rem; /* Text size set to text-lg */
  padding-left: 1rem; /* Horizontal padding */
  padding-right: 1rem; /* Horizontal padding */
  padding-top: 0.75rem; /* Vertical padding */
  padding-bottom: 0.75rem; /* Vertical padding */
  border-radius: 1.5rem; /* Rounded corners */
  width: 100%; /* Full width */
}

.proceed-btn:focus {
  outline: none; /* Remove outline on focus */
}






/* Edit User Modal */
.edit-user-modal, .add-user-modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
justify-content: center;
align-items: center;
z-index: 1000;
}

.edit-user-modal-content {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
max-width: 450px;
width: 100%;
overflow-y: auto; /* Add overflow-y property to enable scroll when content exceeds height */
max-height: 80vh; /* Set a maximum height to ensure modal fits within the viewport */
scrollbar-color: #ddd rgba(0, 0, 0, 0);
scrollbar-width: thin;
}

.dark .edit-user-modal-content{
background-color: #333;
color: white;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
border: 1px solid #444343;
}

.edit-user-modal-content::-webkit-scrollbar {
width: 5px;
}

.edit-user-modal-content::-webkit-scrollbar-thumb {
background-color: #8b8a8a;
border-radius: 10px;
}

.edit-user-modal-content::-webkit-scrollbar-track {
background-color: rgba(0, 0, 0, 0);
}

.edit-user-modal-content h2 {
margin-bottom: 20px;
text-align: center;
color: #333;
}

.dark .edit-user-modal-content h2 {
color: white;
}

.edit-user-modal-content label {
display: block;
margin-bottom: 5px;
font-size: 14px;
color: #333;
}

.dark .edit-user-modal-content label{
color: white;
}

.edit-user-modal-content input, .edit-user-modal-content select {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ddd;
outline: none;
border-radius: 4px;
}


.dark .edit-user-modal-content select, .dark .edit-user-modal-content input{
background-color: #333; /* Background color in dark mode */
color: #fff; /* Text color in dark mode */
border-color: var(--border); /* Border color in dark mode */
outline: none;
}

.modal-button-container {
text-align: center;
margin-top: 10px;
}

.modal-save-button,
.modal-close-button {
width: 40%;
padding: 8px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
margin: 0 5px;
}

.modal-save-button {
background-color: #3498db;
color: white;
}

.modal-close-button {
background-color: #e74c3c;
color: white;
}

.modal-save-button:hover,
.modal-close-button:hover {
cursor: pointer;
opacity: 80%;
}

.edit-user-modal-content.has-image .image-preview-edit {
display: block;
}

.content main .reports{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
grid-gap: 24px;
margin-top: 36px;
}

@media screen and (max-width: 767px) {
.add-user-container {
    flex-direction: column;
}

.add-user-btn {
    width: 100%; /* Reset width for mobile view */
    margin-bottom: 10px;
}
.edit-user-modal-content, .add-user-modal-content {
    max-width: 75%;
}
}

.scan-product{
  padding: 8px 14px;
  background-color: #2ecc71; /* Green color, you can change it */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left:712px;
  text-align: right;
 
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cfd8dc;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}

.bg-cyan-50, .hover\:bg-cyan-50:hover {
    background-color: #e0f7fa;
}
.bg-cyan-100, .hover\:bg-cyan-100:hover {
    background-color: #b2ebf2;
}
.bg-cyan-200, .hover\:bg-cyan-200:hover {
    background-color: #000000;
}
.bg-cyan-300, .hover\:bg-cyan-300:hover {
    background-color: #4dd0e1;
}
.bg-cyan-400, .hover\:bg-cyan-400:hover {
    background-color: #26c6da;
}
.bg-cyan-500, .hover\:bg-cyan-500:hover {
    background-color: #00bcd4;
}
.bg-cyan-600, .hover\:bg-cyan-600:hover {
    background-color: #00acc1;
}
.bg-cyan-700, .hover\:bg-cyan-700:hover {
    background-color: #0097a7;
}
.bg-cyan-800, .hover\:bg-cyan-800:hover {
    background-color: #00838f;
}
.bg-cyan-900, .hover\:bg-cyan-900:hover {
    background-color: #006064;
}


.text-cyan-50, .hover\:text-cyan-50:hover {
    color: #e0f7fa;
}
.text-cyan-100, .hover\:text-cyan-100:hover {
    color: #b2ebf2;
}
.text-cyan-200, .hover\:text-cyan-200:hover {
    color: #80deea;
}
.text-cyan-300, .hover\:text-cyan-300:hover {
    color: #4dd0e1;
}
.text-cyan-400, .hover\:text-cyan-400:hover {
    color: #26c6da;
}
.text-cyan-500, .hover\:text-cyan-500:hover {
    color: #00bcd4;
}
.text-cyan-600, .hover\:text-cyan-600:hover {
    color: #00acc1;
}
.text-cyan-700, .hover\:text-cyan-700:hover {
    color: #0097a7;
}
.text-cyan-800, .hover\:text-cyan-800:hover {
    color: #00838f;
}
.text-cyan-900, .hover\:text-cyan-900:hover {
    color: #006064;
}

.bg-blue-gray-50, .hover\:bg-blue-gray-50:hover {
    background-color: #eceff1;
}
.bg-blue-gray-100, .hover\:bg-blue-gray-100:hover {
    background-color: #cfd8dc;
}
.bg-blue-gray-200, .hover\:bg-blue-gray-200:hover {
    background-color: #b0bec5;
}
.bg-blue-gray-300, .hover\:bg-blue-gray-300:hover {
    background-color: #90a4ae;
}
.bg-blue-gray-400, .hover\:bg-blue-gray-400:hover {
    background-color: #78909c;
}
.bg-blue-gray-500, .hover\:bg-blue-gray-500:hover {
    background-color: #607d8b;
}
.bg-blue-gray-600, .hover\:bg-blue-gray-600:hover {
    background-color: #546e7a;
}
.bg-blue-gray-700, .hover\:bg-blue-gray-700:hover {
    background-color: #455a64;
}
.bg-blue-gray-800, .hover\:bg-blue-gray-800:hover {
    background-color: #37474f;
}
.bg-blue-gray-900, .hover\:bg-blue-gray-900:hover {
    background-color: #263238;
}

.text-blue-gray-50, .hover\:text-blue-gray-50:hover {
    color: #eceff1;
}
.text-blue-gray-100, .hover\:text-blue-gray-100:hover {
    color: #cfd8dc;
}
.text-blue-gray-200, .hover\:text-blue-gray-200:hover {
    color: #b0bec5;
}
.text-blue-gray-300, .hover\:text-blue-gray-300:hover {
    color: #90a4ae;
}
.text-blue-gray-400, .hover\:text-blue-gray-400:hover {
    color: #78909c;
}
.text-blue-gray-500, .hover\:text-blue-gray-500:hover {
    color: #607d8b;
}
.text-blue-gray-600, .hover\:text-blue-gray-600:hover {
    color: #546e7a;
}
.text-blue-gray-700, .hover\:text-blue-gray-700:hover {
    color: #455a64;
}
.text-blue-gray-800, .hover\:text-blue-gray-800:hover {
    color: #37474f;
}
.text-blue-gray-900, .hover\:text-blue-gray-900:hover {
    color: #263238;
}
.bg-teal-50, .hover\:bg-teal-50:hover {
    background-color: #e0f2f1;
}
.bg-teal-100, .hover\:bg-teal-100:hover {
    background-color: #b2dfdb;
}
.bg-teal-200, .hover\:bg-teal-200:hover {
    background-color: #80cbc4;
}
.bg-teal-300, .hover\:bg-teal-300:hover {
    background-color: #4db6ac;
}
.bg-teal-400, .hover\:bg-teal-400:hover {
    background-color: #26a69a;
}
.bg-teal-500, .hover\:bg-teal-500:hover {
    background-color: #009688;
}
.bg-teal-600, .hover\:bg-teal-600:hover {
    background-color: #00897b;
}
.bg-teal-700, .hover\:bg-teal-700:hover {
    background-color: #00796b;
}
.bg-teal-800, .hover\:bg-teal-800:hover {
    background-color: #00695c;
}
.bg-teal-900, .hover\:bg-teal-900:hover {
    background-color: #004d40;
}

.text-teal-50, .hover\:text-teal-50:hover {
    color: #e0f2f1;
}
.text-teal-100, .hover\:text-teal-100:hover {
    color: #b2dfdb;
}
.text-teal-200, .hover\:text-teal-200:hover {
    color: #80cbc4;
}
.text-teal-300, .hover\:text-teal-300:hover {
    color: #4db6ac;
}
.text-teal-400, .hover\:text-teal-400:hover {
    color: #26a69a;
}
.text-teal-500, .hover\:text-teal-500:hover {
    color: #009688;
}
.text-teal-600, .hover\:text-teal-600:hover {
    color: #00897b;
}
.text-teal-700, .hover\:text-teal-700:hover {
    color: #00796b;
}
.text-teal-800, .hover\:text-teal-800:hover {
    color: #00695c;
}
.text-teal-900, .hover\:text-teal-900:hover {
    color: #004d40;
}

.nowrap {
  white-space: nowrap;
}

.glass {
  background-color: rgba(100, 120, 130, .6);
  backdrop-filter: blur(10px);
}

table td {
  vertical-align: top;
}

@media print {
  /* Hide navbar and sidebar */
  .sidebar {
    display: none !important;
  }
  .navbar {
    display: none !important;
  }
  .proceed-btn {
    display: none !important;
  }
  
  @page {
    margin: 0;
    size: A4; /* Set paper size to A4 */
  }

  body {
    margin: auto;
    width: 100%;
    transform: scale(2); 
    font-size: 16px; /* Adjust the font size as needed */
  }

  .receipt-content {
    /* Your existing styles */
    width: 100%; /* Increase content width */
    line-height: 1.5; /* Increase line height for better readability */
    padding: 30px; /* Increase padding for better visibility */
  }

  #print-area {
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove any padding */
  }
}

.barcodeScan {
  width: 10px; /* Adjust width as needed */
  border-radius: 10px;
  height: 10px; /* Adjust height as needed */
  border: 2px solid; /* Add border */
  outline: none; /* Remove default focus outline */
 
}

.barcodeScan:focus {
  border-color: green; /* Change border color to green when focused */
  background-color: green;
  color: green;
}

.barcodeScan:not(:focus) {
  border-color: red; /* Change border color to red when not focused */
  background-color:red;
  color: red;
}


