.report-options {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.date-input {
    margin-right: 10px;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}


.generate-report-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.generate-report-btn:hover {
    background-color: #45a049;
}

.total-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Adjust alignment as needed */
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.dark .total-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Adjust alignment as needed */
    margin-top: 20px;
    padding: 20px;
    background-color: #555555;
    border-radius: 10px;
}

/* Total labels */
.total-labels {
    margin-right: 20px;
    text-align: right;
    font-weight: 500;
}

/* Total numbers */
.total-numbers {
    text-align: right;
}

/* Individual label and number */
.total-label,
.total-number {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333; /* Adjust color as needed */
}

.dark .total-label,
.dark .total-number {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}