/* Default styles */

.settings-description {
    color: gray;
}

.tab-container {
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.dark .tab-container {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    color: rgb(209, 209, 209);
}

.tabs {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    background-color: #3498db;
    overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

.dark .tabs {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    background-color: #555555;
}

.tablinks {
    padding: 10px 15px;
    background-color: #3498db;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    position: relative;
}

.dark .tablinks {
    padding: 10px 15px;
    background-color: #555555;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    position: relative;
}

.tablinks::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.tablinks:hover::before,
.tablinks.active::before {
    transform: scaleX(1);
}

/* Style the tab content */
.tabcontent {
    margin-top: 20px;
    background-color: white;
    display: none;
    padding: 20px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark .tabcontent {
    background-color: var(--dark-chat);
    display: none;
    padding: 20px;
    border: none;
    box-shadow: rgba(41, 41, 41, 0.2) 0px 7px 29px 0px;
}

/* Responsive threshold input */
.threshold-section {
    font-size: 14px;
}

hr {
    margin-bottom: 20px;
    margin-top: 10px;
}

.threshold-input {
    padding: 10px;
    border: solid;
    border-width: 1px;
    margin-left: 5px;
    border-color: #ddd;
    outline: none;
    border-radius: 5px;
}

.dark .threshold-input {
    padding: 10px;
    border: none;
    color: white;
    margin-left: 5px;
    background-color: #444343;
    outline: none;
    border-radius: 5px;
}


/* Additional styling for buttons */
.update-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.update-btn:hover {
    background-color: #45a049;
}

.dark .update-btn {
    background-color: #4b4b4b;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dark .update-btn:hover {
    background-color: rgb(85, 85, 85);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .tabs {
        flex-direction: column; /* Stack tabs vertically for small screens */
        align-items: center; /* Center tabs on small screens */
    }
    .update-btn {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        margin-top: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .threshold-input {
        margin-top: 15px;
        margin: 0;
    }
}

/* Success Modal */

.success-modal, .error-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.success-modal-content, .error-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.message-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.success-modal-content .divider, .error-modal-content .divider{
    margin: 15px 0;
    border-bottom: 1px solid #ddd;
}

.success-modal-content #successText .error-modal-content #errorText {
    margin-bottom: 15px;
    font-size: 14px;
}

.success-modal-content .modal-close-button  {
    padding: 8px 15px;
    background-color: #3498db;
    margin-top: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error-modal-content .modal-close-button  {
    padding: 8px 15px;
    background-color: #e74c3c;
    margin-top: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.success-modal-content .modal-close-button:hover{
    background-color: #2980b9;
}

.error-modal-content .modal-close-button:hover {
    background-color: #c0392b;
}

/* Dark mode styles for the success modal */
body.dark .success-modal-content, body.dark .error-modal-content {
    background-color: #333; /* Background color in dark mode */
    color: white; /* Text color in dark mode */
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.2); /* Adjust box shadow for dark mode */
    border: 1px solid #444343; /* Border color in dark mode */
}

body.dark .success-modal-content .header, body.dark .error-modal-content .header {
    color: white; /* Header text color in dark mode */
}

body.dark .success-modal-content .divider, body.dark .error-modal-content .header {
    border-color: #555; /* Divider line color in dark mode */
}

body.dark .success-modal-content #successText, body.dark .error-modal-content #errorText {
    color: white; /* Success message text color in dark mode */
}

body.dark .success-modal-content .modal-close-button, body.dark .error-modal-content .modal-close-button {
    background-color: #3498db; /* Close button background color in dark mode */
    color: white; /* Close button text color in dark mode */
    border: 1px solid #3498db; /* Close button border color in dark mode */
}

body.dark .success-modal-content .modal-close-button:hover, body.dark .error-modal-content .modal-close-button:hover {
    background-color: #2980b9; /* Close button hover background color in dark mode */
}

.account-container {
    margin-bottom: 20px; /* Keep some margin at the bottom */
}

.avatar-container {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Vertically align items */
}

.avatar-wrapper {
    margin-right: 20px; /* Add some space between the avatar and buttons */
}

.avatar-button-container {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
}

.upload-btn:hover {
    background-color: #2980b9;
}

.delete-btn:hover {
    background-color: rgb(247, 247, 247);
}

.avatar-wrapper img {
    border-radius: 50%;
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    object-fit: cover;
}

.name-group, .form-group {
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.name-group label, .form-group label {
    margin-bottom: 10px;
    font-size: 14px;
    width: 120px; /* Adjust label width */
    margin-right: 20px; /* Add some space between label and input */
}

.name-group label, .form-group label {
    color: rgb(2, 2, 2);
}

.dark .name-group label, .dark .form-group label {
    color: rgb(255, 255, 255);
}

.name-group input[type="text"], .name-group input[type="date"], .name-group input[type="text"]
.form-group input[type="text"], .form-group input[type="date"], .form-group input[type="text"] {
    flex: .40; /* Allow input fields to grow and fill available space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Dark mode styles for input fields */
/* Dark mode styles for input fields */
.dark .name-group input[type="text"],
.dark .name-group input[type="date"],
.dark .form-group input[type="text"],
.dark .form-group input[type="date"] {
    flex: 0.4; /* Allow input fields to grow and fill available space */
    padding: 10px;
    border: 1px solid #444343; /* Border color in dark mode */
    border-radius: 5px;
    outline: none;
    background-color: #333; /* Background color in dark mode */
    color: white; /* Text color in dark mode */
}


h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.dark .labels {
    color: white;
}

.dark h3 {
    color: white;
}

form .edit-btn, form .save-btn  {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form .update-btn:hover {
    background-color: #2980b9;
}

form .cancel-btn {
    background-color: white;
    color: black;
    border-style: solid;    
    border-width: 1px;
    border-color: #9c9c9c;
    border-radius: 5px;
    padding: 9px 20px;
    cursor: pointer;
}

form .cancel-btn:hover {
    background-color: rgb(247, 247, 247);
}

.button-container{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.dark .upload-btn {
    background-color: #4b4b4b;
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add some space between buttons */
}

.dark .delete-btn {
    background-color: 4b4b4b;
    color: #fff;
    border-style: solid;
    padding: 10px 20px;
    font-size: 13px;
    border-width: 1px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add some space between buttons */
}

.dark .upload-btn:hover {
    background-color: #777777;
}

.dark .delete-btn:hover {
    background-color: #777777;
}


.dark form .edit-btn,
.dark form .save-btn  {
    background-color: #777777;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn {
    background-color: #3498db;
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add some space between buttons */
}

.delete-btn {
    background-color: white;
    color: black;
    border-style: solid;
    padding: 10px 20px;
    font-size: 13px;
    border-width: 1px;
    border-color: #9c9c9c;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add some space between buttons */
}

/* Dark mode hover styles for update button */
.dark form .update-btn:hover {
    background-color: #777777;
}

/* Dark mode styles for cancel button */
.dark form .cancel-btn {
    background-color: 4b4b4b; 
    color: #fff;
    border-width: 1px;
    border-radius: 5px;
    padding: 9px 20px;
    cursor: pointer;
    border-style: none;
}

/* Dark mode hover styles for cancel button */
.dark form .cancel-btn:hover, .dark form .save-btn:hover,.dark form .edit-btn:hover{
    background-color: rgb(156, 154, 154);
}

.button-container{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}


/* Password group styles */
.password-group {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.password-group label {
    margin-bottom: 10px;
    font-size: 14px;
    width: 200px; /* Adjust label width */
    margin-right: 20px; /* Add some space between label and input */
}

.password-group input[type="password"] {
    flex: 0.4; /* Allow input fields to grow and fill available space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Dark mode styles for input fields */
.dark .password-group input[type="password"] {
    flex: 0.4; /* Allow input fields to grow and fill available space */
    padding: 10px;
    border: 1px solid #444343; /* Border color in dark mode */
    border-radius: 5px;
    outline: none;
    background-color: #333; /* Background color in dark mode */
    color: white; /* Text color in dark mode */
}

.password-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dark form .password-btn {
    background-color: 4b4b4b; 
    color: #fff;
    border-width: 1px;
    border-radius: 5px;
    padding: 9px 20px;
    cursor: pointer;
    border-style: none;
}
