.user-table-container {
    display: flex;
    flex-direction: column;
}

.user-filter-container {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add a border between filter and table */
}


body.dark .filter-container {
    border-color: #555; /* Border color in dark mode */
}

.add-user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.add-user-btn {
    padding: 12px 20px;
    background-color: #2ecc71; /* Green color, you can change it */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Edit User Modal */
.edit-user-modal, .add-user-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Set a higher z-index value for modals */
}

.edit-user-modal-content, .add-user-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 100%;
    overflow-y: auto; /* Add overflow-y property to enable scroll when content exceeds height */
    max-height: 80vh; /* Set a maximum height to ensure modal fits within the viewport */
    scrollbar-color: #ddd rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

.dark .edit-user-modal-content, .dark .add-user-modal-content{
    background-color: #333;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border: 1px solid #444343;
}

.edit-user-modal-content::-webkit-scrollbar, .add-user-modal-content::-webkit-scrollbar {
    width: 5px;
}

.edit-user-modal-content::-webkit-scrollbar-thumb, .add-user-modal-content::-webkit-scrollbar-thumb {
    background-color: #8b8a8a;
    border-radius: 10px;
}

.edit-user-modal-content::-webkit-scrollbar-track, .add-user-modal-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.edit-user-modal-content h2, .add-user-modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.dark .edit-user-modal-content h2, .dark .add-user-modal-content h2 {
    color: white;
}

.edit-user-modal-content label, .add-user-modal-content label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.dark .edit-user-modal-content label, .dark .add-user-modal-content label{
    color: white;
}

.edit-user-modal-content input, .add-user-modal-content select, .add-user-modal-content input, .edit-user-modal-content select  {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 4px;
}


.dark .edit-user-modal-content select, .dark .edit-user-modal-content input, 
.dark .add-user-modal-content select, .dark .add-user-modal-content input{
    background-color: #333; /* Background color in dark mode */
    color: #fff; /* Text color in dark mode */
    border-color: var(--border); /* Border color in dark mode */
    outline: none;
}

.modal-button-container {
    text-align: center;
    margin-top: 10px;
}

.modal-save-button,
.modal-close-button {
    width: 40%;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.modal-save-button {
    background-color: #3498db;
    color: white;
}

.modal-close-button {
    background-color: #e74c3c;
    color: white;
}

.modal-save-button:hover,
.modal-close-button:hover {
    cursor: pointer;
    opacity: 80%;
}

.edit-user-modal-content.has-image .image-preview-edit {
    display: block;
}

.content main .reports{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

@media screen and (max-width: 767px) {
    .add-user-container {
        flex-direction: column;
    }

    .add-user-btn {
        width: 100%; /* Reset width for mobile view */
        margin-bottom: 10px;
    }
    .edit-user-modal-content, .add-user-modal-content {
        max-width: 75%;
    }
}




